/* =Header
----------------------------------------------- */

.site-header {
	margin-bottom: 1.5em;

	.site-branding {
		max-width: 75em;
		margin: 0 auto;
		height: 180px;

		@media only screen and (min-width: $responsive1) {
			height: 287px;
		}

	} // End of .site-branding

	.site-logo {
		display: block;
		height: 10em;
		margin: 0.5em 1em;
		
		@media only screen and (min-width: $responsive1) {
			height: 231px;
			width: 522px;
			margin: 2em auto;
		}

		@media only screen and (min-width: $responsive3) {
			display: inline-block;
			margin: 2em 0.8em 0;
		}

		@media only screen and (min-width: $responsive5) {
			margin: 2em 1.5em 1.5em 2em;
		}
	}

	.site-description {
		display: none;

		@media only screen and (min-width: $responsive3) {
			display: inline-block;
			color: $light;
			height: 18em;
			margin: 0;
			position: absolute;
		}

		.description-text {
			display: none;

			@media only screen and (min-width: $responsive3) {
				display: inline-block;
				text-transform: uppercase;
				text-align: justify;
				margin: 13.5em 0 0;
				max-width: 234px;
			}

		} // End of .description-text

	} // End of .site-description

} // End of .site-header