.nav-social {

	.screen-reader-text {
		position: absolute;
		top:      -9999em;
		left:     -9999em;
	}

	.menu-items {
		list-style: none;

		.menu-item {
			display:  inline-block;
			position: relative;
			margin: 0 0.25em;
			line-height: $menuheight;

			a {
			    color: transparent;
			    text-decoration: none;
			    font-size: 0;
			}

			a:before {
				font-size: $socials;
			}

			a[href*="facebook.com"]:before {
				@include icon($fa-var-facebook-square);
			}
			a[href*="twitter.com"]:before {
				@include icon($fa-var-twitter-square);
			}
			a[href*="plus.google.com"]:before {
				@include icon($fa-var-google-plus-square);
			}
			a[href*="pinterest.com"]:before {
				@include icon($fa-var-pinterest-square);
			}
			a[href*="tumblr.com"]:before {
				@include icon($fa-var-tumblr-square);
			}
			a[href*="youtube.com"]:before {
				@include icon($fa-var-youtube-square);
			}
			a[href*="flickr.com"]:before {
				@include icon($fa-var-flickr);
			}
			a[href*="instagram.com"]:before {
				@include icon($fa-var-instagram);
			}
			a[href*="linkedin.com"]:before {
				@include icon($fa-var-linkedin-square);
			}
			a[href*="movie"]:before,
			a[href*="film"]:before {
				@include icon($fa-var-film);
			}
			a[href$=".rss"]:before, 
			a[href$="rss.xml"]:before, 
			a[href*="/feed/"]:before,
			a[href*="/rss/"]:before {
				@include icon($fa-var-rss-square);
			}
		}
	}
}